* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.clearfix:after {
   clear: both;
   display: table;
   content: '';
}

/* Istruzioni Generali  */

.container {
   width: 1000px;
   margin: 0 auto;
}

/* Istruzioni header  */

header {
   width: 100%;
   margin-bottom: 20px;
}

header img {
   height: 60px;
}

/* Istruzioni NAV  */

.navigatore {
   margin: 40px 0;
}

ul li {
   display: inline-block;
   margin-right: 10px;
   color: rgb(156, 155, 155);
   font-family: sans-serif;
   font-size: 14px;
}

li a {
   text-decoration: none;
   color:  rgb(156, 155, 155);
}

/* Istruzioni Section  */

.spotlight {
   position: relative;
   height: 450px;
   margin-bottom: 20px;
   border-radius: 10px;
   background-image: url('..//img/banner.jpg');
   background-position: center center;
   background-size: cover;
}

.opacity {
   background-color: rgba(0, 0, 0, 0.2);
   height: 100%;
   border-radius: 10px;
}

.description {
   position: absolute;
   left: 40px;
   bottom: 60px;
   color: white;
   width: 50%;
}

#title-spotlight {
   font-size: 30px;
}
/* Istruzioni Main  */

main {
   width: 100%;
   margin-bottom: 10px;
}

.top {
   width: 100%;
   height: 80px;
   margin-bottom: 10px;
}
/* .top-title {
   line-height: 80px;
} */

.top-title h1 {
   display: inline-block;
   font-family: sans-serif;
}
.top-title div {
   color: rgb(156, 155, 155);
}

.sidebar {
   width: 25%;
   height: 500px;
   float: left;
}
.img-sidebar {
   height: 40%;
   background-image: url('..//img/img-1.jpg');
   background-position: center center;
   background-size: cover;
}
.sidebar span {
   display: inline-block;
   margin: 20px 0;
}

.sidebar p {
   color: rgb(156, 155, 155);
}


.content {
   width: calc(50% - 20px);
   height: 500px;
   background-color: rgb(179,205,227);
   margin: 0px 10px 10px;
   float: left;
}

footer {
   width: 100%;
   height: 50px;
   background-color: rgb(124,35,247);
}